// variables
$primary-color: #4a9d44;
$light-primary-color: #3fd035;
$secondary-color: #ffd863;
$third-color: #2d529f;
$danger-color: #c22c2c;
$info-color: #5bc0de;
$gray-color: #6c757d;
$light-gray:#eee;
$dark-color: #1d2127;
$light-color: white;
$paragraph-color: #777;
$main-font: sans-serif;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;